<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/import.css') }}">
    <script type="module" src="{{url_for('static', filename='scripts/jquery-3.6.0.min.mjs')}}"></script>
    <script type="module" src="{{url_for('static', filename='scripts/logging.mjs')}}"></script>
    <script type="module" src="{{url_for('static', filename='scripts/data-handler.mjs')}}"></script>
  </head>
  <body>
    <div class="container" style="height: 95vh;">
      <div class="Title"><h1>Creating Project...</h1></div>
      <div class="left_options">
        <div class="file_imports">
            <h3>Create Project</h3>
            <input type="text" id="project_name" value=""/>
            <button id="lock_name">Make</button>
            <h3>Choose Project</h3>
            <select id="project_list">
            </select>
            <h3>Files</h3>
            <h4>Elevation File</h4>
            <input type="file" id="elevation_input" name="avatar" accept=".tif">
            <span id="elevation_confirm">❌</span>
            <div class="tooltip">Ⓘ
              <span class="tooltiptext">.tif file with elevation data for project area. Will be displayed in full when viewing.</span>
            </div>
            <h4>Extent Shape File (Select all .shp,.shx,.dbf,.prj)</h4>
            <input type="file" id="extent_input" name="avatar" accept=".shp,.shx,.dbf,.prj" multiple="multiple">
            <span id="extent_confirm" >❌</span>
            <div class="tooltip">Ⓘ
              <span class="tooltiptext">.shp file. With extent for sound modelling calculations. Same or smaller area than elevation file.</span>
            </div>
            <h4>Land Cover (.tif, .dbf)</h4>
            <input type="file" id="land_cover_input" name="avatar" accept=".tif, .dbf" multiple="multiple">
            <span id="land_cover_confirm" >❌</span>
            <div class="tooltip">Ⓘ
              <span class="tooltiptext">.tif file with corresponding .dbf file. Land cover with NLCD codess</span>
            </div>
            <h4>Point Sources (Select all .shp .shx .dbf .prj)</h4>
            <input type="file" id="point_src_input" name="avatar" accept=".shp, .shx, .dbf, .prj" multiple="multiple">
            <span id="point_src_confirm" >❌</span>
            <div class="tooltip">Ⓘ
              <span class="tooltiptext">Shape file with positions of vehicle to be modelled in order.</span>
            </div>
        </div>
        <div class="variables">
          <h3>Variables</h3>
          <label>Temperature (°C)</label>
          <input type="number" id="temperature" value="20"/>
          <label>Humidity (%)</label>
          <input type="number" id="humidity" value="30"/>
          <label>Output Weighting</label>
          <select id="out_weighting">
            <option value="A">A-weighting</option>
            <option value="C">C-weighting</option>
            <option value="Z">Z-weighting</option>
          </select>
          <br>
          <h3>Sound Source</h3>
          <label>Sound Source Type</label>
          <select id="vehicle_type">
          </select>
          <label>Model</label>
          <select id="vehicle_model">
          </select>
        </div>
      </div>
      <div class="right_options">
        <div class="controls">
          <h3>Controls</h3>
          <button id="submit_imports">Import Files</button>
          <span hidden id="import_success">✔️</span>
          <br>
          <button id="run_model">Simulate Sound Propagation</button>
          <button id="create_sat">Satellite and Propagation Images</button>
          <button id="create_mesh">Make 3D Mesh</button>
          <h3>View</h3>
          <button onclick="location.href = 'viewer?project=' + $('#project_list')[0].value">To Viewer</button>
        </div>
        <div class="logging_area">
          <h3>Logs</h3>
          <textarea id="logging_textarea" readonly></textarea>
        </div>
      </div>
    </div>
  </body>
</html>
